div.wizardify-step {
  display: inline;
}

.wizardify-hide {
  display: none !important;
}

div.wizardify-wrapper-step {
  position: relative;
}

div.wizardify-wrapper-step #next-button {
  /* set the position of the button */
  position: absolute;
  top: 20px;
  right: 0;

  /* style the div like a button in bartik theme*/
  margin-left: 10px;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  border-image: none;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 1px;
  color: #3A3A3A;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  font-family: verdana, "Times New Roman";
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  text-align: center;
  background-color: #f2f2f2;

  /* Cool Animation */
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -khtml-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

  /* Discard text selection in the next button */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.wizardify-wrapper-step #next-button:hover {
  background-color: #DEDEDE;
}
